body {
    margin: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(../image/12.jpg);
    font-family: roboto;
    background-size: 1400px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

  :root {
    --bg:  #1f4b77;
    --bg-accent: #94a4bb;
    --text-color: white;
    --nav-size: 80px;
    --border: 4px solid #2e4964;
    --border-radius: 8px;
    --speed: 500ms; 
 
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;;
  }
  
  /* Top Navigation Bar */
  
  /* <nav> */
  .navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    display: flex;
  }
  
  /* <ul> */
 
   .navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  /* <li> */
  .nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-right: 120px;
  }
  
    
 
  /* Icon Button */
  .icon-button {
 /* --button-size: calc(var(--nav-size)*0.85);
   width: calc(var(--button-size));
    height: calc(var(--button-size));*/
    background-color:#2b2522;
    border-radius: 2px;
    box-shadow: 0 0 10px 10px rgb(72, 62, 51);
    padding: 30px;
    margin: 100px;
   
    display: flex;
    transition: filter 400ms;
    margin-left: 70px;
    margin-right: 50px;
  }
  
  .icon-button:hover {
    filter: brightness(1.2);
  }
  /*
  .icon-button svg { 
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }*/
  
  
  /* Dropdown Menu */
  .dropdown {
    position:absolute;
    top: 58px;
    width: 150px;
    /*transform: translateX(-45%);*/
    background-color: var(--bg);
    border: var(--border);
    /*border-radius: var(--border-radius);*/
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  
  .menu {
    width: 100%;
  }
  
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    /*border-radius: var(--border-radius);*/
    transition: background var(--speed);
    /*padding: 0.5rem;*/
  }
  
  .menu-item .icon-button {
    margin-right: 0.5rem;
  }
  
  
  .menu-item .icon-button:hover {
    filter: none;
  }
  
  .menu-item:hover {
    background-color: #525357;
  }
  
  